%h2.block-heading.survey-page-title #{f.object.survey_page.page_number}/#{f.object.survey_page.survey.survey_pages.count} : #{f.object.survey_page.title}

- f.object.survey_page.survey_items.in_order.each do |survey_item|
  = render "hummingbird_survey/common/survey/answer_item", f: f, survey_item: survey_item

.button-group.actions
  = f.submit "#{@survey_page.last_page? ? "COMPLETE" : "NEXT"}", :class => "btn btn-primary button-group-item align-right sm-half"
