.response-block{ id: "response-block-#{item_options["item_number"]}"}
  .question-text{ id: "question-text-#{item_options["item_number"]}"}
    = item_options["label"]
  .response{ id: "response-#{item_options["item_number"]}"}
    - if SurveyQuestionType[item_options["question_type"]].signature?
      = image_tag(item_options["value"])
    - elsif SurveyQuestionType[item_options["question_type"]].encrypted?
      - decrypted_value = EncryptionService.decrypt(item_options["value"])
      %span.hide.toggle-answer.decrypted-answer{ id: "decrypted-answer-#{item_options["item_number"]}", data: { target: "masked-answer-#{item_options["item_number"]}" } }
        = decrypted_value
        %span
          %small
            %a hide

      %span.toggle-answer.masked-answer{ data: { target: "decrypted-answer-#{item_options["item_number"]}" }, id: "masked-answer-#{item_options["item_number"]}"}
        - (1..decrypted_value.to_s.mb_chars.length).each do
          *
        %span
          %small
            %a show
    - else
      = item_options["value"]
