%h2= "Page #{page_options["page_number"]} - #{page_options["title"]}"

.row
  - page_options["items"].sort_by{|item_name, item_options| item_options["item_number"]}.to_h.each do |item_name, item_options|
    - if item_name.start_with?("question")
      = render "hummingbird_survey/common/survey/show_question", item_options: item_options
    - elsif item_name.start_with?("section")
      = render "hummingbird_survey/common/survey/show_section", item_options: item_options
