- unless SurveyQuestionType[item_options["question_type"]].review?
  - survey_question_type = SurveyQuestionType[item_options["question_type"]]
  .response-block{ id: "response-block-#{item_options["item_number"]}", class: "response-type-#{survey_question_type.to_s.dasherize}"}
    .question-text{ id: "question-text-#{item_options["item_number"]}"}
      = item_options["label"].html_safe
      - if survey_question_type.to_s.dasherize == "agreement"
        = item_options["agreement_text"]
        = item_options.inspect
    .response{ id: "response-#{item_options["item_number"]}"}
      = render "hummingbird_survey/common/survey/response/#{survey_question_type.response_partial}", item_options: item_options
