-# frozen_string_literal: true
= simple_form_for @survey_question, url: staff_survey_question_path(@survey, @survey_question) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .block.as-section
    .form-inputs
      = f.input :label
      = f.input :required
      = f.input :question_type, as: :select, collection: SurveyQuestionType.select_options

      - if f.object.requires_answer_list?
        = f.input :answer_list, input_html: { value: f.object.answer_list.to_a.join(",") }

      - if f.object.question_type.present? && f.object.question_type.region_select?
        = f.input :country_question_id, as: :select, collection: @survey.survey_questions.by_type(SurveyQuestionType[:country_select]).map{ |question| [question.label, question.id] }

      - if f.object.fields.present?
        - f.object.fields.each do |field|
          = f.input field.to_sym, as: :string, input_html: { value: f.object.try(field) }

      - if f.object.survey.surveyable.linked_field_names.any?
        = f.input :linked_field_name, as: :select, collection: f.object.survey.surveyable.linked_field_names.map{ |field_name, field_options| [field_options[:label], field_name] }, include_blank: "None"

  = render "common/global_form_submit", f: f
