-# frozen_string_literal: true
= simple_form_for @survey_page, url: target_path, method: target_method do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .block.as-section
    .form-inputs
      = f.input :title
      = f.input :page_number

  = render "common/global_form_submit", f: f
