- decrypted_value = EncryptionService.decrypt(item_options["value"])
%span.hide.toggle-answer.decrypted-answer{ id: "decrypted-answer-#{item_options["item_number"]}", data: { target: "masked-answer-#{item_options["item_number"]}" } }
  = decrypted_value
  %span
    %small
      %a hide

%span.toggle-answer.masked-answer{ data: { target: "decrypted-answer-#{item_options["item_number"]}" }, id: "masked-answer-#{item_options["item_number"]}"}
  - (1..decrypted_value.to_s.mb_chars.length).each do
    *
  %span
    %small
      %a show
