-# frozen_string_literal: true
= simple_form_for @survey_item, url: staff_survey_item_path(@survey, @survey_item) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .block.as-section
    .form-inputs
      = f.input :item_number
      = f.input :parent_id
      = f.input :parent_type
      = f.object.inspect


  = render "common/global_form_submit", cancel_path: edit_staff_survey_path(@survey), f: f
