-# frozen_string_literal: true
= simple_form_for @survey_item, url: staff_survey_item_path(@survey, @survey_item) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :item_number

  .form-actions
    = f.button :submit
