-# frozen_string_literal: true

- if @survey.surveyable.try(:linked_field_names) && @survey.surveyable.linked_field_names.any?
  %h3 Linked Fields

  %ul
    - @survey.surveyable.linked_field_names.each do |field_name, field_options|
      %li
        = field_options["label"]
        %ul
          - @survey.questions_linked_to(field_name).each do |question|
            %li= question.full_path

= simple_form_for [:staff, @survey] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .block.as-section
    .form-inputs
      = f.input :display_name

  .embedded-submit
    = render "common/global_form_submit", f: f, cancel_path: DynamicPath.new.surveyable_path(@survey)

.survey-config.faux-form
  - @survey.survey_pages.in_order.each do |page|
    .block.as-section
      %h3
        = page.display_title_with_number
        = link_to edit_staff_survey_page_path(@survey, page) do
          %span.fal.fa-edit

      - page.survey_items.in_order.each do |item|
        .survey-item{class: "survey-item-#{item.survey_itemable_type.underscore.dasherize}"}
          = render "staff/survey_items/show", survey_item: item

      .button-group
        =# link_to "Add Question", add_question_staff_survey_page_path(@survey, page), class: "btn btn-primary button-group-item"
        =# link_to "Add Note", add_note_staff_survey_page_path(@survey, page), class: "btn btn-primary button-group-item"
        = link_to "Add Section", add_section_staff_survey_page_path(@survey, page), class: "btn btn-primary button-group-item"

.survey-config.faux-form
  .block.as-section
    = link_to "Add New Page", new_staff_survey_page_path(@survey), class: "btn btn-primary button-group-item align-right"
