%p#notice= notice

%p
  %b Surveyable:
  = @survey.surveyable
%p
  %b Display name:
  = @survey.display_name

= link_to 'Edit', edit_staff_survey_path(@survey)
\|
= link_to 'Back', DynamicPath.new.surveyable_path(@survey)
